{
   project =
   {
      description="🥣 A Preprocessor for HTML that converts `<objc>` and other tags to MulleScion `{%` `%}`";
      domain="github";
      name="MulleScionHTMLPreprocessor";
      user="MulleWeb";
      repo="MulleScionHTMLPreprocessor";
      homepage="https://github.com/MulleWeb/MulleScionHTMLPreprocessor";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🧱 MulleFoundationBase amalgamates Foundations projects";
         domain="github";
         name="MulleFoundationBase";
         repo="MulleFoundationBase";
         url="https://github.com/MulleFoundation/MulleFoundationBase";
         user="MulleFoundation";
      },
      {
         description="📒 Lists mulle-objc runtime information contained in executables.";
         domain="github";
         name="mulle-objc-list";
         repo="mulle-objc-list";
         url="https://github.com/mulle-objc/mulle-objc-list";
         user="mulle-objc";
      }
   );
}
